In [34]:
import pandas as pd
import ast
import numpy as np

from datetime import datetime

dfmovies = pd.read_csv('./dataset/movies.csv', sep = ',', encoding='latin1')

dfcredits = pd.read_csv('./dataset/credits.csv', sep = ',', encoding='latin1')

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\4015634989.py:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dfmovies = pd.read_csv('./dataset/movies.csv', sep = ',', encoding='latin1')

In [35]:
#Convertir los valores nulos de budget y revenue en 0(cero)

dfmovies['revenue'] = pd.to_numeric(dfmovies['revenue'], errors='coerce').fillna(0)
dfmovies['budget'] = pd.to_numeric(dfmovies['budget'], errors='coerce').fillna(0)

In [36]:
#Validar registros nulos en la columna release_date

df_release_date_NaN = dfmovies[dfmovies['release_date'].isna()]
df_release_date_NaN.shape[0]

87

In [37]:
#Eliminar registros cuando release_date es nulo
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['release_date'])
print(dfmovies.shape[0])

45466
45379

In [38]:
#Agregar columna release_year

dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'], errors='coerce')
dfmovies['release_year'] = dfmovies['release_date'].dt.year
dfmovies['release_year'] = dfmovies['release_year'].fillna(0).astype(int)

In [39]:
# Eliminamos las columnas que no serÃ¡n utilizadas
dfmovies = dfmovies.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'overview','tagline','spoken_languages','production_countries'])

In [40]:
#Crear campo con el retorno de inversion
dfmovies['return'] = dfmovies.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1).round(2)

In [41]:
#Eliminar peliculas sin nombre
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['title'])
print(dfmovies.shape[0])

45379
45376

In [42]:
#Eliminar peliculas sin idioma
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['original_language'])
print(dfmovies.shape[0])

45376
45365

In [43]:
#Eliminar peliculas sin status
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['status'])
print(dfmovies.shape[0])

45365
45285

In [44]:
dfmovies

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,2011,0.00
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00
45464,NaN,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00
45465,NaN,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00

In [45]:
#desanidar belongs_to_collection

dfmovies['belongs_to_collection'] = dfmovies['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Extraer 'id' y 'name' en nuevas columnas
dfmovies['id_collection'] = dfmovies['belongs_to_collection'].apply(lambda x: x.get('id') if isinstance(x, dict) else np.nan)
dfmovies['name_collection'] = dfmovies['belongs_to_collection'].apply(lambda x: x.get('name') if isinstance(x, dict) else '')
dfmovies['id_collection'] = dfmovies['id_collection'].fillna(0).astype(int)

dfmovies = dfmovies.drop(columns=['belongs_to_collection'])

In [46]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,
45462,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,2011,0.00,0,
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,
45464,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00,0,
45465,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00,0,

In [48]:
num_idiomas_unicos = dfmovies['original_language'].nunique()
num_idiomas_unicos

idioma_counts = dfmovies['original_language'].value_counts()
print(idioma_counts)

original_language
en    32135
fr     2436
it     1528
ja     1349
de     1077
      ...
jv        1
qu        1
la        1
fy        1
si        1
Name: count, Length: 89, dtype: int64

In [50]:

#Depurar idiomas
dfmovies = dfmovies[dfmovies['original_language'].isin(['en', 'es'])]

# Filtrar el DataFrame para quedarse con los registros que no son 'en' ni 'es'
dfmoviesol = dfmovies[~dfmovies['original_language'].isin(['en', 'es'])]

In [51]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,
45464,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00,0,
45465,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00,0,

In [54]:
print(dfmovies.dtypes)

budget                         float64
genres                          object
id                              object
original_language               object
popularity                      object
production_companies            object
release_date            datetime64[ns]
revenue                        float64
runtime                        float64
status                          object
title                           object
vote_average                   float64
vote_count                     float64
release_year                     int32
return                         float64
id_collection                    int32
name_collection                 object
day                             object
month                           object
vacios                           int64
dtype: object

In [56]:

dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'])

def obtener_dia(fecha):
    return fecha.strftime('%A')
 

def obtener_mes(fecha):
    return fecha.strftime('%B')  

dfmovies['day'] = dfmovies['release_date'].apply(obtener_dia)
dfmovies['month'] = dfmovies['release_date'].apply(obtener_mes)

def corregir_texto(texto):
    return texto.encode('latin1').decode('latin1')

# Aplicar la funciÃ³n a la columna 'dias'
dfmovies['day'] = dfmovies['day'].apply(corregir_texto)
dfmovies['month'] = dfmovies['month'].apply(corregir_texto)

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'])
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['day'] = dfmovies['release_date'].apply(obtener_dia)
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['month'] = dfmovies['release_date'].apply(obtener_mes)
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['day'] = dfmovies['day'].apply(corregir_texto)
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['month'] = dfmovies['month'].apply(corregir_texto)

In [58]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,,Friday,December,97
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,,Friday,December,93
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45457,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",390959,en,0.076061,[],2000-10-22,0.0,45.0,Released,Shadow of the Blair Witch,7.0,2.0,2000,0.00,0,,Sunday,October,63
45458,0.0,"[{'id': 27, 'name': 'Horror'}]",289923,en,0.38645,"[{'name': 'Neptune Salad Entertainment', 'id':...",2000-10-03,0.0,30.0,Released,The Burkittsville 7,7.0,1.0,2000,0.00,0,,Tuesday,October,30
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,,Sunday,January,40
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,,Monday,May,93
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,,Friday,August,91

In [59]:
dfmovies['vacios'] = dfmovies['genres'].apply(len)

condition = ((dfmovies['vacios'] == 2))
# Eliminar registros que cumplen la condiciÃ³n
dfmovies = dfmovies[~condition]

dfmovies

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\2533747721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['vacios'] = dfmovies['genres'].apply(len)

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,,Friday,December,97
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,,Friday,December,93
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45457,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",390959,en,0.076061,[],2000-10-22,0.0,45.0,Released,Shadow of the Blair Witch,7.0,2.0,2000,0.00,0,,Sunday,October,63
45458,0.0,"[{'id': 27, 'name': 'Horror'}]",289923,en,0.38645,"[{'name': 'Neptune Salad Entertainment', 'id':...",2000-10-03,0.0,30.0,Released,The Burkittsville 7,7.0,1.0,2000,0.00,0,,Tuesday,October,30
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,,Sunday,January,40
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,,Monday,May,93
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,,Friday,August,91

In [65]:
dfmovies['return'] = pd.to_numeric(dfmovies['return'], errors='coerce')

# Eliminar filas con valores NaN en la columna 'popularity'
dfmovies = dfmovies.dropna(subset=['popularity'])

# Eliminar filas donde 'id_collection' es 0
dfmovies = dfmovies[dfmovies['id_collection'] != 0]

# Eliminar filas con valores NaN en la columna 'return'
dfmovies = dfmovies.dropna(subset=['return'])


# Calcular la media y la desviaciÃ³n estÃ¡ndar
media = dfmovies['return'].mean()
desviacion_estandar = dfmovies['return'].std()

# Definir el lÃ­mite para identificar outliers
# Puedes ajustar el factor (2 en este caso) segÃºn el nivel de sensibilidad que desees
limite_superior = media + 3 * desviacion_estandar
limite_inferior = media - 3 * desviacion_estandar

#Visualizar los outliers
dfmovies = dfmovies[~(((dfmovies['return'] < limite_inferior) | (dfmovies['return'] > limite_superior)) & (dfmovies['id_collection']==0))]

In [66]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
9,58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,en,14.686036,"[{'name': 'United Artists', 'id': 60}, {'name'...",1995-11-16,352194034.0,130.0,Released,GoldenEye,6.6,1194.0,1995,6.07,645,James Bond Collection,Thursday,November,95
12,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,en,12.140733,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",1995-12-22,11348324.0,78.0,Released,Balto,7.1,423.0,1995,0.00,117693,Balto Collection,Friday,December,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45353,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",3104,en,2.302582,"[{'name': 'Hammer Film Productions', 'id': 1314}]",1967-03-15,0.0,92.0,Released,Frankenstein Created Woman,5.9,33.0,1967,0.00,123720,Frankenstein (Hammer Series),Wednesday,March,70
45355,0.0,"[{'id': 35, 'name': 'Comedy'}]",24568,en,1.114848,"[{'name': 'The Rank Organisation', 'id': 364},...",1967-09-01,0.0,95.0,Released,Carry On Follow That Camel,6.1,19.0,1967,0.00,37261,The Carry On Collection,Friday,September,30
45358,0.0,"[{'id': 35, 'name': 'Comedy'}]",19307,en,4.103723,"[{'name': 'The Rank Organisation', 'id': 364}]",1969-05-29,0.0,88.0,Released,Carry On Camping,6.5,25.0,1969,0.00,37261,The Carry On Collection,Thursday,May,30
45369,0.0,"[{'id': 35, 'name': 'Comedy'}]",21251,en,0.846154,"[{'name': 'The Rank Organisation', 'id': 364}]",1976-10-01,0.0,89.0,Released,Carry On England,4.8,15.0,1976,0.00,37261,The Carry On Collection,Friday,October,30
45371,0.0,"[{'id': 16, 'name': 'Animation'}]",460135,en,8.413734,"[{'name': 'Warner Bros. Animation', 'id': 2785}]",2017-08-30,0.0,0.0,Released,LEGO DC Super Hero Girls: Brain Drain,10.0,2.0,2017,0.00,477208,DC Super Hero Girls Collection,Wednesday,August,33

In [68]:



dfmovies['runtime'] = pd.to_numeric(dfmovies['runtime'], errors='coerce')


dfmovies = dfmovies.dropna(subset=['runtime'])

# Calcular Q1 (25 percentil) y Q3 (75 percentil)
Q1 = dfmovies['runtime'].quantile(0.25)
Q3 = dfmovies['runtime'].quantile(0.75)

# Calcular el rango intercuartÃ­lico (IQR)
IQR = Q3 - Q1

# Definir los lÃ­mites inferior y superior
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

#outliers = dfmovies[((dfmovies['runtime'] < limite_inferior) | (dfmovies['runtime'] > limite_superior))&(dfmovies['id_collection'] == 0)]
#print(limite_inferior)
#print(limite_superior)
#outliers
dfmovies = dfmovies[~(((dfmovies['runtime'] < limite_inferior) | (dfmovies['runtime'] > limite_superior))& (dfmovies['id_collection'] == 0))]

In [69]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
9,58000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,en,14.686036,"[{'name': 'United Artists', 'id': 60}, {'name'...",1995-11-16,352194034.0,130.0,Released,GoldenEye,6.6,1194.0,1995,6.07,645,James Bond Collection,Thursday,November,95
12,0.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,en,12.140733,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",1995-12-22,11348324.0,78.0,Released,Balto,7.1,423.0,1995,0.00,117693,Balto Collection,Friday,December,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45353,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",3104,en,2.302582,"[{'name': 'Hammer Film Productions', 'id': 1314}]",1967-03-15,0.0,92.0,Released,Frankenstein Created Woman,5.9,33.0,1967,0.00,123720,Frankenstein (Hammer Series),Wednesday,March,70
45355,0.0,"[{'id': 35, 'name': 'Comedy'}]",24568,en,1.114848,"[{'name': 'The Rank Organisation', 'id': 364},...",1967-09-01,0.0,95.0,Released,Carry On Follow That Camel,6.1,19.0,1967,0.00,37261,The Carry On Collection,Friday,September,30
45358,0.0,"[{'id': 35, 'name': 'Comedy'}]",19307,en,4.103723,"[{'name': 'The Rank Organisation', 'id': 364}]",1969-05-29,0.0,88.0,Released,Carry On Camping,6.5,25.0,1969,0.00,37261,The Carry On Collection,Thursday,May,30
45369,0.0,"[{'id': 35, 'name': 'Comedy'}]",21251,en,0.846154,"[{'name': 'The Rank Organisation', 'id': 364}]",1976-10-01,0.0,89.0,Released,Carry On England,4.8,15.0,1976,0.00,37261,The Carry On Collection,Friday,October,30
45371,0.0,"[{'id': 16, 'name': 'Animation'}]",460135,en,8.413734,"[{'name': 'Warner Bros. Animation', 'id': 2785}]",2017-08-30,0.0,0.0,Released,LEGO DC Super Hero Girls: Brain Drain,10.0,2.0,2017,0.00,477208,DC Super Hero Girls Collection,Wednesday,August,33

In [74]:
# Supongamos que dfmovies es tu DataFrame y tiene una columna llamada 'popularity'

# AsegÃºrate de que la columna 'popularity' sea numÃ©rica
dfmovies['release_year'] = pd.to_numeric(dfmovies['release_year'], errors='coerce')

# Eliminar filas con valores NaN en la columna 'popularity' despuÃ©s de la conversiÃ³n
dfmovies = dfmovies.dropna(subset=['release_year'])

# Calcular Q1 (25 percentil) y Q3 (75 percentil)
Q1 = dfmovies['release_year'].quantile(0.25)
Q3 = dfmovies['release_year'].quantile(0.75)

# Calcular el rango intercuartÃ­lico (IQR)
IQR = Q3 - Q1

# Definir los lÃ­mites inferior y superior
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

dfmovies = dfmovies[~(((dfmovies['release_year'] < limite_inferior) | (dfmovies['release_year'] > limite_superior))& (dfmovies['id_collection'] == 0))]

In [75]:
dfmovies['popularity'] = pd.to_numeric(dfmovies['runtime'], errors='coerce')

# Eliminar filas con valores NaN en la columna 'popularity'
dfmovies = dfmovies.dropna(subset=['popularity'])

# Calcular la media y la desviaciÃ³n estÃ¡ndar
media = dfmovies['popularity'].mean()
desviacion_estandar = dfmovies['popularity'].std()

# Definir el lÃ­mite para identificar outliers
# Puedes ajustar el factor (2 en este caso) segÃºn el nivel de sensibilidad que desees
limite_superior = media + 3 * desviacion_estandar
limite_inferior = media - 3 * desviacion_estandar

#outliers = dfmovies[((dfmovies['popularity'] < limite_inferior) | (dfmovies['popularity'] > limite_superior))&(dfmovies['id_collection'] == 0)]
#print(limite_inferior)
#print(limite_superior)
#outliers
#Visualizar los outliers
dfmovies = dfmovies[~(((dfmovies['popularity'] < limite_inferior) | (dfmovies['popularity'] > limite_superior))& (dfmovies['id_collection'] == 0))]

In [76]:
dfmovies['popularity'] = dfmovies['popularity'].apply(lambda x: f"{x:.6f}")

In [ ]:
dfmovies['genres'] = dfmovies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

dfmovies['genre'] = dfmovies['genres'].apply(lambda x: ", ".join([genre['name'] for genre in x]) if isinstance(x, list) else "")

dfmovies

In [ ]:
#df_NaN = dfmovies[dfmovies['genres'].isna()]
#df_NaN
dfmovies = dfmovies.drop(columns=['vacios', 'id_collection', 'runtime', 'production_companies', 'release_date', 'revenue', 'budget','vote_average','genres'])
dfmovies

KeyError: "['vacios', 'id_collection', 'runtime', 'production_companies', 'release_date', 'revenue', 'budget', 'vote_average'] not found in axis"

In [ ]:
dfmovies['genres'] = dfmovies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

dfmovies['genre'] = dfmovies['genres'].apply(lambda x: ", ".join([genre['name'] for genre in x]) if isinstance(x, list) else "")

dfmovies

,genres,id,original_language,popularity,status,title,vote_count,release_year,return,name_collection,day,month,genre
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,81.000000,Released,Toy Story,5415.0,1995,12.45,Toy Story Collection,Monday,October,"Animation, Comedy, Family"
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,101.000000,Released,Grumpier Old Men,92.0,1995,0.00,Grumpy Old Men Collection,Friday,December,"Romance, Comedy"
4,"[{'id': 35, 'name': 'Comedy'}]",11862,en,106.000000,Released,Father of the Bride Part II,173.0,1995,0.00,Father of the Bride Collection,Friday,February,Comedy
9,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,en,130.000000,Released,GoldenEye,1194.0,1995,6.07,James Bond Collection,Thursday,November,"Adventure, Action, Thriller"
12,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",21032,en,78.000000,Released,Balto,423.0,1995,0.00,Balto Collection,Friday,December,"Family, Animation, Adventure"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45353,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",3104,en,92.000000,Released,Frankenstein Created Woman,33.0,1967,0.00,Frankenstein (Hammer Series),Wednesday,March,"Horror, Science Fiction"
45355,"[{'id': 35, 'name': 'Comedy'}]",24568,en,95.000000,Released,Carry On Follow That Camel,19.0,1967,0.00,The Carry On Collection,Friday,September,Comedy
45358,"[{'id': 35, 'name': 'Comedy'}]",19307,en,88.000000,Released,Carry On Camping,25.0,1969,0.00,The Carry On Collection,Thursday,May,Comedy
45369,"[{'id': 35, 'name': 'Comedy'}]",21251,en,89.000000,Released,Carry On England,15.0,1976,0.00,The Carry On Collection,Friday,October,Comedy
45371,"[{'id': 16, 'name': 'Animation'}]",460135,en,0.000000,Released,LEGO DC Super Hero Girls: Brain Drain,2.0,2017,0.00,DC Super Hero Girls Collection,Wednesday,August,Animation

In [30]:
dfmovies.to_csv('dataset.csv', sep=',', index=False)

In [31]:
dfdataset = pd.read_csv('dataset.csv', sep = ',', encoding='latin1')

In [32]:
dfdataset

,genres,id,original_language,popularity,status,title,vote_count,release_year,return,name_collection,day,month
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,81.0,Released,Toy Story,5415.0,1995,12.45,Toy Story Collection,Monday,October
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,104.0,Released,Jumanji,2413.0,1995,4.04,NaN,Friday,December
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,101.0,Released,Grumpier Old Men,92.0,1995,0.00,Grumpy Old Men Collection,Friday,December
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,127.0,Released,Waiting to Exhale,34.0,1995,5.09,NaN,Friday,December
4,"[{'id': 35, 'name': 'Comedy'}]",11862,en,106.0,Released,Father of the Bride Part II,173.0,1995,0.00,Father of the Bride Collection,Friday,February
...,...,...,...,...,...,...,...,...,...,...,...,...
28014,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346,en,79.0,Released,The Morning After,2.0,2015,0.00,NaN,Sunday,January
28015,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",84419,en,65.0,Released,House of Horrors,8.0,1946,0.00,NaN,Friday,March
28016,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,85.0,Released,Caged Heat 3000,1.0,1995,0.00,NaN,Sunday,January
28017,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,104.0,Released,Robin Hood,26.0,1991,0.00,NaN,Monday,May
28018,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,90.0,Released,Betrayal,6.0,2003,0.00,NaN,Friday,August

In [33]:
dfcredits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257