In [551]:
import pandas as pd
import ast
import numpy as np

from datetime import datetime

dfmovies = pd.read_csv('./dataset/movies.csv', sep = ',', encoding='latin1')

dfcredits = pd.read_csv('./dataset/credits.csv', sep = ',', encoding='latin1')

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\4015634989.py:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dfmovies = pd.read_csv('./dataset/movies.csv', sep = ',', encoding='latin1')

In [552]:
#Convertir los valores nulos de budget y revenue en 0(cero)

dfmovies['revenue'] = pd.to_numeric(dfmovies['revenue'], errors='coerce').fillna(0)
dfmovies['budget'] = pd.to_numeric(dfmovies['budget'], errors='coerce').fillna(0)

In [553]:
#Validar registros nulos en la columna release_date

df_release_date_NaN = dfmovies[dfmovies['release_date'].isna()]
df_release_date_NaN.shape[0]

87

In [554]:
#Eliminar registros cuando release_date es nulo
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['release_date'])
print(dfmovies.shape[0])

45466
45379

In [555]:
#Agregar columna release_year

dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'], errors='coerce')
dfmovies['release_year'] = dfmovies['release_date'].dt.year
dfmovies['release_year'] = dfmovies['release_year'].fillna(0).astype(int)

In [556]:
# Eliminamos las columnas que no serÃ¡n utilizadas
dfmovies = dfmovies.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'overview','tagline','spoken_languages','production_countries'])

In [557]:
#Crear campo con el retorno de inversion
dfmovies['return'] = dfmovies.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1).round(2)

In [558]:
#Eliminar peliculas sin nombre
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['title'])
print(dfmovies.shape[0])

45379
45376

In [559]:
#Eliminar peliculas sin idioma
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['original_language'])
print(dfmovies.shape[0])

45376
45365

In [560]:
#Eliminar peliculas sin status
print(dfmovies.shape[0])
dfmovies = dfmovies.dropna(subset=['status'])
print(dfmovies.shape[0])

45365
45285

In [561]:
dfmovies

,belongs_to_collection,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,2011,0.00
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00
45464,NaN,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00
45465,NaN,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00

In [562]:
#desanidar belongs_to_collection

dfmovies['belongs_to_collection'] = dfmovies['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Extraer 'id' y 'name' en nuevas columnas
dfmovies['id_collection'] = dfmovies['belongs_to_collection'].apply(lambda x: x.get('id') if isinstance(x, dict) else np.nan)
dfmovies['name_collection'] = dfmovies['belongs_to_collection'].apply(lambda x: x.get('name') if isinstance(x, dict) else '')
dfmovies['id_collection'] = dfmovies['id_collection'].fillna(0).astype(int)

dfmovies = dfmovies.drop(columns=['belongs_to_collection'])

In [563]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,
45462,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,2011,0.00,0,
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,
45464,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00,0,
45465,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00,0,

In [564]:
num_idiomas_unicos = dfmovies['original_language'].nunique()
num_idiomas_unicos

idioma_counts = dfmovies['original_language'].value_counts()
print(idioma_counts)

original_language
en    32135
fr     2436
it     1528
ja     1349
de     1077
      ...
jv        1
qu        1
la        1
fy        1
si        1
Name: count, Length: 89, dtype: int64

In [565]:

#Depurar idiomas
dfmovies = dfmovies[dfmovies['original_language'].isin(['en', 'es'])]

# Filtrar el DataFrame para quedarse con los registros que no son 'en' ni 'es'
dfmoviesol = dfmovies[~dfmovies['original_language'].isin(['en', 'es'])]

In [566]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,
45464,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00,0,
45465,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00,0,

In [567]:
print(dfmovies.dtypes)

budget                         float64
genres                          object
id                              object
original_language               object
popularity                      object
production_companies            object
release_date            datetime64[ns]
revenue                        float64
runtime                        float64
status                          object
title                           object
vote_average                   float64
vote_count                     float64
release_year                     int32
return                         float64
id_collection                    int32
name_collection                 object
dtype: object

In [568]:

dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'])

def obtener_dia(fecha):
    return fecha.strftime('%A')
 

def obtener_mes(fecha):
    return fecha.strftime('%B')  

dfmovies['day'] = dfmovies['release_date'].apply(obtener_dia)
dfmovies['month'] = dfmovies['release_date'].apply(obtener_mes)

def corregir_texto(texto):
    return texto.encode('latin1').decode('latin1')

# Aplicar la funciÃ³n a la columna 'dias'
dfmovies['day'] = dfmovies['day'].apply(corregir_texto)
dfmovies['month'] = dfmovies['month'].apply(corregir_texto)

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['release_date'] = pd.to_datetime(dfmovies['release_date'])
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['day'] = dfmovies['release_date'].apply(obtener_dia)
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['month'] = dfmovies['release_date'].apply(obtener_mes)
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['day'] = dfmovies['day'].apply(corregir_texto)
C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\1966618784.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['month'] = dfmovies['month'].apply(corregir_texto)

In [569]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,,Friday,December
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,,Friday,December
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,,Sunday,January
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,,Monday,May
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,,Friday,August
45464,0.0,[],227506,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,1917,0.00,0,,Sunday,October
45465,0.0,[],461257,en,0.163015,[],2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,2017,0.00,0,,Friday,June

In [570]:
dfmovies['vacios'] = dfmovies['genres'].apply(len)

condition = ((dfmovies['vacios'] == 2))
# Eliminar registros que cumplen la condiciÃ³n
dfmovies = dfmovies[~condition]

dfmovies

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\2533747721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['vacios'] = dfmovies['genres'].apply(len)

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,,Friday,December,97
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,,Friday,December,93
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45457,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",390959,en,0.076061,[],2000-10-22,0.0,45.0,Released,Shadow of the Blair Witch,7.0,2.0,2000,0.00,0,,Sunday,October,63
45458,0.0,"[{'id': 27, 'name': 'Horror'}]",289923,en,0.38645,"[{'name': 'Neptune Salad Entertainment', 'id':...",2000-10-03,0.0,30.0,Released,The Burkittsville 7,7.0,1.0,2000,0.00,0,,Tuesday,October,30
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,,Sunday,January,40
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,,Monday,May,93
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,,Friday,August,91

In [571]:
dfmovies['return'] = pd.to_numeric(dfmovies['return'], errors='coerce')

# Eliminar filas con valores NaN en la columna 'popularity'
dfmovies = dfmovies.dropna(subset=['popularity'])

# Eliminar filas donde 'id_collection' es 0
#dfmovies = dfmovies[dfmovies['id_collection'] != 0]

# Eliminar filas con valores NaN en la columna 'return'
dfmovies = dfmovies.dropna(subset=['return'])


# Calcular la media y la desviaciÃ³n estÃ¡ndar
media = dfmovies['return'].mean()
desviacion_estandar = dfmovies['return'].std()

# Definir el lÃ­mite para identificar outliers
# Puedes ajustar el factor (2 en este caso) segÃºn el nivel de sensibilidad que desees
limite_superior = media + 3 * desviacion_estandar
limite_inferior = media - 3 * desviacion_estandar

#Visualizar los outliers
dfmovies = dfmovies[~(((dfmovies['return'] < limite_inferior) | (dfmovies['return'] > limite_superior)) & (dfmovies['id_collection']==0))]

C:\Users\Erick\AppData\Local\Temp\ipykernel_39748\3843745063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmovies['return'] = pd.to_numeric(dfmovies['return'], errors='coerce')

In [572]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,,Friday,December,97
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,,Friday,December,93
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45457,0.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",390959,en,0.076061,[],2000-10-22,0.0,45.0,Released,Shadow of the Blair Witch,7.0,2.0,2000,0.00,0,,Sunday,October,63
45458,0.0,"[{'id': 27, 'name': 'Horror'}]",289923,en,0.38645,"[{'name': 'Neptune Salad Entertainment', 'id':...",2000-10-03,0.0,30.0,Released,The Burkittsville 7,7.0,1.0,2000,0.00,0,,Tuesday,October,30
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,,Sunday,January,40
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,,Monday,May,93
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,,Friday,August,91

In [573]:



dfmovies['runtime'] = pd.to_numeric(dfmovies['runtime'], errors='coerce')


dfmovies = dfmovies.dropna(subset=['runtime'])

# Calcular Q1 (25 percentil) y Q3 (75 percentil)
Q1 = dfmovies['runtime'].quantile(0.25)
Q3 = dfmovies['runtime'].quantile(0.75)

# Calcular el rango intercuartÃ­lico (IQR)
IQR = Q3 - Q1

# Definir los lÃ­mites inferior y superior
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

#outliers = dfmovies[((dfmovies['runtime'] < limite_inferior) | (dfmovies['runtime'] > limite_superior))&(dfmovies['id_collection'] == 0)]
#print(limite_inferior)
#print(limite_superior)
#outliers
dfmovies = dfmovies[~(((dfmovies['runtime'] < limite_inferior) | (dfmovies['runtime'] > limite_superior))& (dfmovies['id_collection'] == 0))]

In [574]:
dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,title,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,1995,4.04,0,,Friday,December,97
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,1995,5.09,0,,Friday,December,93
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45454,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346,en,0.139936,"[{'name': 'Oops Doughnuts Productions', 'id': ...",2015-01-11,0.0,79.0,Released,The Morning After,4.0,2.0,2015,0.00,0,,Sunday,January,59
45456,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",84419,en,0.222814,"[{'name': 'Universal Pictures', 'id': 33}]",1946-03-29,0.0,65.0,Released,House of Horrors,6.3,8.0,1946,0.00,0,,Friday,March,95
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,0.661558,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,Caged Heat 3000,3.5,1.0,1995,0.00,0,,Sunday,January,40
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,Robin Hood,5.7,26.0,1991,0.00,0,,Monday,May,93
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,2003,0.00,0,,Friday,August,91

In [575]:
# Supongamos que dfmovies es tu DataFrame y tiene una columna llamada 'popularity'

# AsegÃºrate de que la columna 'popularity' sea numÃ©rica
dfmovies['release_year'] = pd.to_numeric(dfmovies['release_year'], errors='coerce')

# Eliminar filas con valores NaN en la columna 'popularity' despuÃ©s de la conversiÃ³n
dfmovies = dfmovies.dropna(subset=['release_year'])

# Calcular Q1 (25 percentil) y Q3 (75 percentil)
Q1 = dfmovies['release_year'].quantile(0.25)
Q3 = dfmovies['release_year'].quantile(0.75)

# Calcular el rango intercuartÃ­lico (IQR)
IQR = Q3 - Q1

# Definir los lÃ­mites inferior y superior
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

dfmovies = dfmovies[~(((dfmovies['release_year'] < limite_inferior) | (dfmovies['release_year'] > limite_superior))& (dfmovies['id_collection'] == 0))]

In [576]:
dfmovies['popularity'] = pd.to_numeric(dfmovies['runtime'], errors='coerce')

# Eliminar filas con valores NaN en la columna 'popularity'
dfmovies = dfmovies.dropna(subset=['popularity'])

# Calcular la media y la desviaciÃ³n estÃ¡ndar
media = dfmovies['popularity'].mean()
desviacion_estandar = dfmovies['popularity'].std()

# Definir el lÃ­mite para identificar outliers
# Puedes ajustar el factor (2 en este caso) segÃºn el nivel de sensibilidad que desees
limite_superior = media + 3 * desviacion_estandar
limite_inferior = media - 3 * desviacion_estandar

#outliers = dfmovies[((dfmovies['popularity'] < limite_inferior) | (dfmovies['popularity'] > limite_superior))&(dfmovies['id_collection'] == 0)]
#print(limite_inferior)
#print(limite_superior)
#outliers
#Visualizar los outliers
dfmovies = dfmovies[~(((dfmovies['popularity'] < limite_inferior) | (dfmovies['popularity'] > limite_superior))& (dfmovies['id_collection'] == 0))]

In [577]:
dfmovies['popularity'] = dfmovies['popularity'].apply(lambda x: f"{x:.6f}")

In [578]:
dfmovies['genres'] = dfmovies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

dfmovies['genre'] = dfmovies['genres'].apply(lambda x: ", ".join([genre['name'] for genre in x]) if isinstance(x, list) else "")

dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,...,vote_average,vote_count,release_year,return,id_collection,name_collection,day,month,vacios,genre
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,81.000000,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,...,7.7,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96,"Animation, Comedy, Family"
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,104.000000,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,...,6.9,2413.0,1995,4.04,0,,Friday,December,97,"Adventure, Fantasy, Family"
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,101.000000,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,...,6.5,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64,"Romance, Comedy"
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,127.000000,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,...,6.1,34.0,1995,5.09,0,,Friday,December,93,"Comedy, Drama, Romance"
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,106.000000,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,...,5.7,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45454,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346,en,79.000000,"[{'name': 'Oops Doughnuts Productions', 'id': ...",2015-01-11,0.0,79.0,Released,...,4.0,2.0,2015,0.00,0,,Sunday,January,59,"Comedy, Drama"
45456,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",84419,en,65.000000,"[{'name': 'Universal Pictures', 'id': 33}]",1946-03-29,0.0,65.0,Released,...,6.3,8.0,1946,0.00,0,,Friday,March,95,"Horror, Mystery, Thriller"
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,85.000000,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,...,3.5,1.0,1995,0.00,0,,Sunday,January,40,Science Fiction
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,104.000000,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,...,5.7,26.0,1991,0.00,0,,Monday,May,93,"Drama, Action, Romance"
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,90.000000,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,...,3.8,6.0,2003,0.00,0,,Friday,August,91,"Action, Drama, Thriller"

In [579]:
#Extraer produccion

dfmovies["production"] = dfmovies["production_companies"].apply(lambda x: ", ".join([comp["name"] for comp in ast.literal_eval(x)]) if isinstance(x, str) and x.strip() else None)

dfmovies

,budget,genres,id,original_language,popularity,production_companies,release_date,revenue,runtime,status,...,vote_count,release_year,return,id_collection,name_collection,day,month,vacios,genre,production
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,81.000000,"[{'name': 'Pixar Animation Studios', 'id': 3}]",1995-10-30,373554033.0,81.0,Released,...,5415.0,1995,12.45,10194,Toy Story Collection,Monday,October,96,"Animation, Comedy, Family",Pixar Animation Studios
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,104.000000,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",1995-12-15,262797249.0,104.0,Released,...,2413.0,1995,4.04,0,,Friday,December,97,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com..."
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,101.000000,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",1995-12-22,0.0,101.0,Released,...,92.0,1995,0.00,119050,Grumpy Old Men Collection,Friday,December,64,"Romance, Comedy","Warner Bros., Lancaster Gate"
3,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,127.000000,[{'name': 'Twentieth Century Fox Film Corporat...,1995-12-22,81452156.0,127.0,Released,...,34.0,1995,5.09,0,,Friday,December,93,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation
4,0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,106.000000,"[{'name': 'Sandollar Productions', 'id': 5842}...",1995-02-10,76578911.0,106.0,Released,...,173.0,1995,0.00,96871,Father of the Bride Collection,Friday,February,30,Comedy,"Sandollar Productions, Touchstone Pictures"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45454,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",420346,en,79.000000,"[{'name': 'Oops Doughnuts Productions', 'id': ...",2015-01-11,0.0,79.0,Released,...,2.0,2015,0.00,0,,Sunday,January,59,"Comedy, Drama","Oops Doughnuts Productions, He and She Films"
45456,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",84419,en,65.000000,"[{'name': 'Universal Pictures', 'id': 33}]",1946-03-29,0.0,65.0,Released,...,8.0,1946,0.00,0,,Friday,March,95,"Horror, Mystery, Thriller",Universal Pictures
45459,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",222848,en,85.000000,"[{'name': 'Concorde-New Horizons', 'id': 4688}]",1995-01-01,0.0,85.0,Released,...,1.0,1995,0.00,0,,Sunday,January,40,Science Fiction,Concorde-New Horizons
45460,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,104.000000,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",1991-05-13,0.0,104.0,Released,...,26.0,1991,0.00,0,,Monday,May,93,"Drama, Action, Romance","Westdeutscher Rundfunk (WDR), Working Title Fi..."
45463,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,90.000000,"[{'name': 'American World Pictures', 'id': 6165}]",2003-08-01,0.0,90.0,Released,...,6.0,2003,0.00,0,,Friday,August,91,"Action, Drama, Thriller",American World Pictures

In [580]:
#df_NaN = dfmovies[dfmovies['genres'].isna()]
#df_NaN
dfmovies = dfmovies.drop(columns=['vacios', 'id_collection', 'runtime', 'production_companies', 'genres', 'status'])
dfmovies

,budget,id,original_language,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,name_collection,day,month,genre,production
0,30000000.0,862,en,81.000000,1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995,12.45,Toy Story Collection,Monday,October,"Animation, Comedy, Family",Pixar Animation Studios
1,65000000.0,8844,en,104.000000,1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995,4.04,,Friday,December,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com..."
2,0.0,15602,en,101.000000,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995,0.00,Grumpy Old Men Collection,Friday,December,"Romance, Comedy","Warner Bros., Lancaster Gate"
3,16000000.0,31357,en,127.000000,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995,5.09,,Friday,December,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation
4,0.0,11862,en,106.000000,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995,0.00,Father of the Bride Collection,Friday,February,Comedy,"Sandollar Productions, Touchstone Pictures"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45454,0.0,420346,en,79.000000,2015-01-11,0.0,The Morning After,4.0,2.0,2015,0.00,,Sunday,January,"Comedy, Drama","Oops Doughnuts Productions, He and She Films"
45456,0.0,84419,en,65.000000,1946-03-29,0.0,House of Horrors,6.3,8.0,1946,0.00,,Friday,March,"Horror, Mystery, Thriller",Universal Pictures
45459,0.0,222848,en,85.000000,1995-01-01,0.0,Caged Heat 3000,3.5,1.0,1995,0.00,,Sunday,January,Science Fiction,Concorde-New Horizons
45460,0.0,30840,en,104.000000,1991-05-13,0.0,Robin Hood,5.7,26.0,1991,0.00,,Monday,May,"Drama, Action, Romance","Westdeutscher Rundfunk (WDR), Working Title Fi..."
45463,0.0,67758,en,90.000000,2003-08-01,0.0,Betrayal,3.8,6.0,2003,0.00,,Friday,August,"Action, Drama, Thriller",American World Pictures

In [581]:
# Extraer los nombres de los actores y unirlos con ", "
dfcredits['cast'] = dfcredits['cast'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

dfcredits['actors'] = dfcredits['cast'].apply(lambda x: ", ".join([actor['name'] for actor in x]) if isinstance(x, list) else "")

dfcredits

,cast,crew,id,actors
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph..."
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"Whitney Houston, Angela Bassett, Loretta Devin..."
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"Steve Martin, Diane Keaton, Martin Short, Kimb..."
...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"Leila Hatami, Kourosh Tahami, Elham Korda"
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel..."
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja..."
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav..."
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,

In [582]:
# Extraer el nombre del director
dfcredits['crew'] = dfcredits['crew'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

dfcredits['director'] = dfcredits['crew'].apply(lambda x: ", ".join([direct['name'] for direct in x if direct['job'] == 'Director']) if isinstance(x, list) else "")

dfcredits

,cast,crew,id,actors,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,"Leila Hatami, Kourosh Tahami, Elham Korda",Hamid Nematollah
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,,Daisy Asquith

In [583]:
dfcredits = dfcredits.drop(columns=['cast', 'crew'])
dfcredits

,id,actors,director
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,11862,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...
45471,439050,"Leila Hatami, Kourosh Tahami, Elham Korda",Hamid Nematollah
45472,111109,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
45473,67758,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester
45474,227506,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
45475,461257,,Daisy Asquith

In [584]:
# Asegurar que 'id' sea de tipo entero en ambos DataFrames
dfmovies['id'] = dfmovies['id'].astype(int)
dfcredits['id'] = dfcredits['id'].astype(int)

# Fusionar SOLO cuando los valores de 'id' coincidan en ambos DataFrames
dfmovies = dfmovies.merge(dfcredits[['id', 'actors', 'director']], on='id', how='inner')

dfmovies

,budget,id,original_language,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,name_collection,day,month,genre,production,actors,director
0,30000000.0,862,en,81.000000,1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995,12.45,Toy Story Collection,Monday,October,"Animation, Comedy, Family",Pixar Animation Studios,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,65000000.0,8844,en,104.000000,1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995,4.04,,Friday,December,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,0.0,15602,en,101.000000,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995,0.00,Grumpy Old Men Collection,Friday,December,"Romance, Comedy","Warner Bros., Lancaster Gate","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,16000000.0,31357,en,127.000000,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995,5.09,,Friday,December,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,0.0,11862,en,106.000000,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995,0.00,Father of the Bride Collection,Friday,February,Comedy,"Sandollar Productions, Touchstone Pictures","Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28046,0.0,420346,en,79.000000,2015-01-11,0.0,The Morning After,4.0,2.0,2015,0.00,,Sunday,January,"Comedy, Drama","Oops Doughnuts Productions, He and She Films","Markie Adams, Roberto Aguire, Tina Arning, Lau...",Shanra J. Kehl
28047,0.0,84419,en,65.000000,1946-03-29,0.0,House of Horrors,6.3,8.0,1946,0.00,,Friday,March,"Horror, Mystery, Thriller",Universal Pictures,"Rondo Hatton, Robert Lowery, Virginia Grey, Bi...",Jean Yarbrough
28048,0.0,222848,en,85.000000,1995-01-01,0.0,Caged Heat 3000,3.5,1.0,1995,0.00,,Sunday,January,Science Fiction,Concorde-New Horizons,"Lisa Boyle, Kena Land, Zaneta Polard, Don Yana...",Aaron Osborne
28049,0.0,30840,en,104.000000,1991-05-13,0.0,Robin Hood,5.7,26.0,1991,0.00,,Monday,May,"Drama, Action, Romance","Westdeutscher Rundfunk (WDR), Working Title Fi...","Patrick Bergin, Uma Thurman, David Morrissey, ...",John Irvin
28050,0.0,67758,en,90.000000,2003-08-01,0.0,Betrayal,3.8,6.0,2003,0.00,,Friday,August,"Action, Drama, Thriller",American World Pictures,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester

In [585]:
dfmovies.to_csv('dataset.csv', sep=',', index=False)

In [586]:
dfdataset = pd.read_csv('dataset.csv', sep = ',', encoding='latin1')

In [587]:
dfdataset

,budget,id,original_language,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,name_collection,day,month,genre,production,actors,director
0,30000000.0,862,en,81.0,1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995,12.45,Toy Story Collection,Monday,October,"Animation, Comedy, Family",Pixar Animation Studios,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,65000000.0,8844,en,104.0,1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995,4.04,NaN,Friday,December,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com...","Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,0.0,15602,en,101.0,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995,0.00,Grumpy Old Men Collection,Friday,December,"Romance, Comedy","Warner Bros., Lancaster Gate","Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,16000000.0,31357,en,127.0,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995,5.09,NaN,Friday,December,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,0.0,11862,en,106.0,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995,0.00,Father of the Bride Collection,Friday,February,Comedy,"Sandollar Productions, Touchstone Pictures","Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28046,0.0,420346,en,79.0,2015-01-11,0.0,The Morning After,4.0,2.0,2015,0.00,NaN,Sunday,January,"Comedy, Drama","Oops Doughnuts Productions, He and She Films","Markie Adams, Roberto Aguire, Tina Arning, Lau...",Shanra J. Kehl
28047,0.0,84419,en,65.0,1946-03-29,0.0,House of Horrors,6.3,8.0,1946,0.00,NaN,Friday,March,"Horror, Mystery, Thriller",Universal Pictures,"Rondo Hatton, Robert Lowery, Virginia Grey, Bi...",Jean Yarbrough
28048,0.0,222848,en,85.0,1995-01-01,0.0,Caged Heat 3000,3.5,1.0,1995,0.00,NaN,Sunday,January,Science Fiction,Concorde-New Horizons,"Lisa Boyle, Kena Land, Zaneta Polard, Don Yana...",Aaron Osborne
28049,0.0,30840,en,104.0,1991-05-13,0.0,Robin Hood,5.7,26.0,1991,0.00,NaN,Monday,May,"Drama, Action, Romance","Westdeutscher Rundfunk (WDR), Working Title Fi...","Patrick Bergin, Uma Thurman, David Morrissey, ...",John Irvin
28050,0.0,67758,en,90.0,2003-08-01,0.0,Betrayal,3.8,6.0,2003,0.00,NaN,Friday,August,"Action, Drama, Thriller",American World Pictures,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester